<div *ngIf="!allowEdit">You are not allowed</div>
<div *ngIf="allowEdit">
  you are allowed to edit this component
  <input type="text">
  <button class="btn btn-default" (click)="update()">Update</button>
</div>
