<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!--[queryParams] is not directive , it is a bindable property of RouterLink directive
        it has a javascript object {keyvalue pairs separated by , here and separated by  & in url}-->
      <!--fragment it is single-->
      <!--output is ->  http://localhost:4200/servers/5/edit?allow=1&allw2=2#loading -->
      <!-- [routerLink]="['/servers', 5, 'edit']"-->
      <!--[queryParams]="{allow: 1, allow2:2}"-->
      <a href="#"
         [routerLink]="['/servers', server.id]"
         [queryParams]="{allow: server.id === 3 ? '1' : '0'}"
         fragment="loading"
         class="list-group-item"
         *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
    <button class="btn btn-primary" (click)="onReload()">Reload Page</button>
    <div class="col-xs-12 col-sm-4">
    <a routerLink="/servers">Reload Page</a>
       <!--as child routes are added so added <router-outlet>
        and removed <app-edit-server>-->
      <router-outlet></router-outlet>
    <!--<app-edit-server><hr><app-server>-->
  </div>
</div>
