<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!--each time when we add href="/home" it is loading the page-->
        <!-- and it is not good behaviour that every time the page is loads-->
        <li role="presentation" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact : true}">
          <a routerLink="/home">Home</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a routerLink="/servers">Servers</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
            <a [routerLink]="['/users']">Users</a>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <router-outlet></router-outlet>
      </div>
    </div>




</div>
