<div>
  {{ user.id }}<br>
  {{ user.name }}
</div>
<hr>

<!-- to load url as users/10/Anna -->
<!--this will  not update the dom elements above-->
<!-- this is not a bug , this is default behaviour-->
<!--because we loaded this using snapshot object on the route-->
<!--if we load a route ,angular sees app.module.ts and founds the fitting route-->
<!--loads  the component and initialises the component and gives the data by accessing the snapshot-->
<!--so angular cannot reinstantiate this component, i.e. why it re render on the component it is already on-->
<!--Angular cannot recreate and destroy the component if we are on that component, still we want updated data then use subscribe()-->
<a [routerLink]="['/users', 10, 'Anna']">reload Anna</a>
