<p>home works!</p>
<button class="btn btn-primary" (click)="goToServer(1)">Go to Server1</button>
<button class="btn btn-default" (click)="onLogIn()">LogIn</button>
<button class="btn btn-default" (click)="onLogOut()">LogOut</button>
